.Europe
{
  background-image: "https://previews.123rf.com/images/vectorgift/vectorgift1507/vectorgift150700230/43149133-europe-travel-background-with-place-for-text-isolated-european-outlined-sightseeings-and-symbols-sky.jpg";
  text-decoration:none;
}


.Europe img
{
  width: 100px;
  height: 75px;
  margin-left: 60px;
}

.Europe div
{

  margin-left: 360px;
}
